<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


{% if post_list %}
    <ul>
    {% for post in post_list %}
        <li>
            <a href="/post/{{ post.id }}/">{{ post.content }}</a>
            <span>{{ post.created_at }}</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No post is made during the past two days.</p>
{% endif %}



{% if user_list %}
    <ul>
    {% for user in user_list %}
        <li>
            <a href="/user/{{ user.id }}/">{{ user.username }}</a>
            <a>{{ user.password }}</a>
            <span>{{ user.created_at }}</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No user is made during the past two days.</p>
{% endif %}

<a href="../../accounts/logout/">logout</a>










</body>
</html>